# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://taohtzdmqsvhbxfqfvmq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_ANON_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY_HERE

# 관리자 user_id (Supabase Auth에서 본인의 uuid)
NEXT_PUBLIC_ADMIN_USER_IDS=4e4161a5-dea4-4953-a4f6-a5424fd524b0
