@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #0F0F1F;
  color: #F5F5FA;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #A78BFA;
  color: #0F0F1F;
}
